 .slider {
	 display: flex;
	 height: 350px;
	 max-height: auto;
	 overflow-y: hidden;
	 overflow-x: scroll !important;
	 padding: 16px;
	 transform: scroll(calc(var(--i,0)/var(--n)*-100%));
	 scroll-behavior: smooth;
}
 .slider::-webkit-scrollbar {
	 height: 5px;
	 width: 150px;
	 display: none;
}
 .slider::-webkit-scrollbar-track {
	 background: transparent;
}
 .slider::-webkit-scrollbar-thumb {
	 background: #888;
}
 .slider::-webkit-scrollbar-thumb:hover {
	 background: #555;
}
 .slider img:hover {
	 transform: scale(1.05);
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}
 .slide {
	 position: relative;
}
 .slide img {
	 height: 100%;
	 width: 350px;
	 margin: 0 10px;
	 object-fit: cover;
	 border-radius: 15px;
	 cursor: pointer;
	 transition: .25s ease-in-out;
}

 @media only screen and (max-width: 420px) {
	 .slider {
		 padding: 0;
	}
	 .slide {
		 padding: 16px 10px;
	}
	 .slide img {
		 margin: 0;
	}
	 .control-prev-btn {
		 top: 37%;
	}
	 .control-next-btn {
		 top: 37%;
	}
}
 